body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.login {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-sizing: border-box;
}
.avatar {
    width: 105px;
    height: 110px;
    margin: 0 auto 30px;
    display: block;
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c7c5c5;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5c53d6;
    color: rgb(146, 144, 144);
    border: 5px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: blue
}
